ul,
ul li,
ul ul li {
   margin: 0;
   padding: 0;
   text-indent: 0;
   list-style-type: none;
}

ul {
   margin: 0;
   padding: 0;
   text-indent: 0;
   list-style-type: none;
}

button {
   all: unset;
   cursor: pointer;
}

.ant-input {
   color: #fff;
   background-color: var(--colors-ui-base);
   border-color: var(--colors-ui-base);
   

   &:active {
      border-color: var(--color-yellow-main) !important;
   }

   &:hover {
      border-color: var(--color-yellow-main) !important;
   }

   &:active {
      border-color: var(--color-yellow-main) !important;
   }

   &:focus {
      border-color: var(--color-yellow-main) !important;
   }

   &::placeholder {
      color: #fff;
   }
}

.ant-input-search-button {
   background-color: var(--color-yellow-main);

   &:hover {
      background-color: hsl(53, 92%, 45%) !important;
   }
}

.ant-spin-dot {
   width: 100px !important;
   height: 100px !important;
}

.ant-spin-dot-item {
   background-color: hsl(53, 92%, 45%) !important;
   width: 40px !important;
   height: 40px !important;
}

.MuiInputBase-root {
   color: var(--colors-text) !important;
}

.MuiFormLabel-root {
   color: var(--colors-text) !important;
}

.MuiSelect-select {
   border-color: var(--colors-ui-base) !important;
}

.MuiSelect-iconOutlined {
   color: var(--colors-ui-base) !important;

}

.peerSelectItem {
   text-transform: lowercase;
   display: block;

   &::first-letter {
      text-transform: uppercase;
   }
}

.MuiPaper-root {
   background-color: var(--ui-bg);
   transition: color .5s, background-color .5s;
}

.MuiPaper-root>* {
   color: var(--colors-text) !important;
}

.MuiTableCell-head {
   color: var(--colors-text) !important;

}

.MuiTableRow-root>* {
   color: var(--colors-text) !important;
   border-color: var(--colors-text) !important;

}

.MuiPaper-root {
   padding: 15px !important;
}

.Mui-active {
   color: var(--colors-text) !important;
}

.MuiSvgIcon-root {
   color: var(--colors-text) !important;
}

.MuiTypography-root {
   color: var(--colors-text) !important;
}