// @import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,400;0,600;0,700;0,800;1,300&display=swap');

// text-shadow: 3px 0px 7px rgba(81,67,21,0.8), -3px 0px 7px rgba(81,67,21,0.8), 0px 4px 7px rgba(81,67,21,0.8);
:root {
  //breakpoints
  --xxl-min: 1920px;
  --xl-max: 1919px;
  --xl-mid: 1440px;
  --xl-min: 1200px;
  --mid-max: 985px;
  --mid-min: 760px;
  --sm-max: 767px;
  --sm-mid: 550px;

  // Typography
  --family: 'Nunito Sans', sans-serif;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-big: 18px;
  --fs-biggest: 24px;
  --fw-light: 300;
  --fw-normal: 600;
  --fw-bold: 800;

  //colors
  --color-yellow-main: hsl(41, 87%, 58%);
  --color-green-main: #1cb352;
  --color-red-main: #f45b5b;

  //other
  --radius: 0.5rem;

}


body[data-theme='dark'] {
  --colors-text: hsl(0, 0%, 100%);
  --colors-bg: hsl(207, 26%, 17%);
  --colors-ui-base: hsl(0, 0%, 52%);
  --ui-bg: #040c13;
  --ui-bg-accent: rgb(13, 27, 39);
  --ui-bg-additional: #091027;
  --shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
  --shadow-long: rgba(0, 0, 0, 0.45) 0px 25px 20px -25px;
  --shadow-ui-border: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  --colors-link: #879fe7;
  --colors-link-hv: hsl(41, 87%, 58%);


}

body[data-theme='light'] {
  --colors-text: hsl(200, 15%, 8%);
  --colors-bg: hsl(0, 0%, 98%);
  --ui-bg: rgb(225, 225, 225);
  --ui-bg-accent: rgb(200, 200, 200);
  --ui-bg-additional: rgb(195, 223, 235);
  --colors-ui-base: hsl(209, 23%, 22%);
  --shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  --shadow-ui-border: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  --shadow-long: rgba(0, 0, 0, 0.45) 0px 25px 20px -25px;
  --colors-link: rgb(0, 51, 204);
  --colors-link-hv: #879fe7;

}

body {
  margin: 0;
  font-family: var(--family);
  color: var(--colors-text);
  font-weight: var(--fw-light);
  background-color: var(--colors-bg);
}